#foot-1mg{
    width: 28%;
    height: auto;
    background-size: cover;
    background-position: center;
}

#foot-div{
    display: flex;
}

#foot-last{
    width: 32%;
}

#foot-between{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    width: 38%;
    text-align: left;
}

#foot-between h3{
    width: fit-content;
    font-family: 'LeagueSpartan-Bold';
    font-size: 16px;
    letter-spacing: 0.4rem;
    padding-left: 25px;
}

#texts{
    text-align:left ;
    font-size: 12px;
    margin-top: 20px;
    font-family: 'LeagueSpartan-Light';
    line-height: 1rem;
    width: fit-content;
    padding-right: 25px;
    padding-left: 25px;
}

#inner{
    width: 100%;
}

h1{
    height: 22px;
    width: 484px;
}

#footer-div{
    display: flex;
    width: 100%;
}



@media screen and (max-width:768px){
    #footer-div{
        flex-direction: column;
    }

    #foot-1mg{
        height:auto ;
        width: 100vw ;
        margin-top: 55px ;
    }

    .footer-img {
     width: 100%;   
    }

    #foot-between{
        height: 213px;
        width: 100vw;
        padding: 0;
    }

    #foot-last{
        width: 100vw;
        height: auto;
    }
    
    #footer-div{
        width: 100vw;
    }

    #inner h3{
        margin-top: 0;
        padding-left: 30px;
    }

    #texts{
        padding-left: 30px;
    }
}
