<div id="room">
    <div id="closeMenuDiv" >
        <img id="close-img" src="/assets/images/icon-close.svg" alt="" (click)="toggleIconClose()">
            <nav id="mobile-nav">
                <div class="button-container">
                <button>home</button>
                <div class="underline"></div>
                </div>
        
                <div class="button-container">
                <button>shop</button>
                <div class="underline" id="second-underline"></div>
                </div>
        
                <div class="button-container">
                <button>about</button>
                <div class="underline"></div>
                </div>
        
                <div class="button-container">
                <button>contact</button>
                <div class="underline"></div>
                </div>
            </nav>
    </div>

        <img id="mobileMenu" src="/assets/images/icon-hamburger.svg" alt="" (click)="toggleMobileMenu() ">
        <h1 id="h1">room</h1>
        <nav>
            <div class="button-container">
                <button>home</button>
                <div class="underline"></div>
            </div>

            <div class="button-container">
                <button>shop</button>
                <div class="underline" id="second-underline"></div>
            </div>

            <div class="button-container">
                <button>about</button>
                <div class="underline"></div>
            </div>

            <div class="button-container">
                <button>contact</button>
                <div class="underline"></div>
            </div>
    </nav>
</div>
<div id="transBackg"></div>