#room{
    margin-top: 8px;
    margin-left: 60px;
    display: flex;
    width: 100vw;
    position: absolute;
    font-family: 'LeagueSpartan-Bold';
}

#transBackg{
    display: none;
}

img{
    display: none;
}

nav{
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
    width: 100vw;
}

#mobileMenu{
    display: none;
}

#closeMenuDiv{
    display: none;
}

#mobile-nav{
    display: none;
}

button:hover{
    cursor: pointer;
}

#h1{
    color: white;
    margin-top: 32px;
    font-weight: 250;
}

button{
    color: white;
    font-weight: 550;
    background:transparent;
    border: none;
    outline: none;
    margin-right: 30px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
    
}

.button-container {
    position: relative;
    display: inline-block;
}

.underline {
    position: absolute;
    bottom: 3px;
    width: 30%;
    height: 2px;
    background-color: white; 
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
    margin-left: 11px;
    margin-bottom: 12px;
}

#second-underline{
    margin-left: 9px;
}

button:hover + .underline {
    transform: scaleX(1);
    transform-origin: bottom left;
}


@media screen and (max-width:768px) {
    #h1{
        margin-left: 120px;
        position: absolute;
        margin-top: 32px;
        display: block;
        position: absolute;
    }

    #transBackg{
        background-color: rgba(128, 128, 128, 0.674);
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 7;
    }
    

    #mobileMenu{
        display: block;
    }

    nav{
        display: none;
        width: fit-content;
    }

    #closeMenuDiv{
        width: 100vw;
        height: 90px;
        margin-top: 0;
        display: flex;
        display: none;
        position: fixed;
        z-index: 9;
    }

    #mobile-nav{
        display: block;
        display: flex;
        background-color: white;
        width: 80vw;
        margin-left: 10px;
        right: 0;
        /* margin-top: 0px; */
        position: absolute;
        top: -2px;
        /* margin-right: 0; */
    }

    #room{
        width: fit-content;
        width: 100vw;
        /* background-color: white; */
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        /* position: hidden; */
    }

    img{
        display: block;
        height: 14px;
        width: 20px;
        margin-top: 40px;
        margin-left: 20px;

    }  

    #close-img{
        margin-top: 11px;
        display: none;
        margin-top: 35px;
        margin-left: 26px;
        height: 20px;
    }

    button{
        color: black;
    }
}

