#room{
    margin-top: 8px;
    margin-left: 60px;
    display: flex;
    width: 100vw;
    position: absolute;
    font-family: 'LeagueSpartan-Bold';
}

img{
    display: none;
}

nav{
    display: flex;
    margin-left: 50px;
    margin-top: 45px;
    width: 100vw;
}

button:hover{
    cursor: pointer;
}

#h1{
    color: white;
    margin-top: 37px;
    font-weight: 250;
}

button{
    color: white;
    font-weight: 550;
    background:transparent;
    border: none;
    outline: none;
    margin-right: 30px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
    
}

.button-container {
    position: relative;
    display: inline-block;
}

.underline {
    position: absolute;
    bottom: 3px;
    width: 30%;
    height: 2px;
    background-color: white; 
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
    margin-left: 11px;
    margin-bottom: 12px;
}

#second-underline{
    margin-left: 9px;
}

button:hover + .underline {
    transform: scaleX(1);
    transform-origin: bottom left;
}


@media screen and (max-width:768px) {
    #h1{
        margin-left: 120px;
        position: absolute;
        margin-top: 16px;
    }

    nav{
        display: none;
        width: fit-content;
    }

    #room{
        margin-left: 24px;
        width: fit-content;
    }

    img{
        display: block;
        height: 14px;
        width: 20px;
        margin-top: 25px;
        margin-right: 100px;

    }



    
}

