<section id="side">
  <div id="backg"></div>
  <div id="side-description">
    <h1>Discover innovative way to decorate</h1>
    <p>
      We provide unmatched quality, comfort, and style for property owners
      across the country. Our experts combine form and function in bringing your
      vision to life. Create a room in your own style with our collection and
      make your property a reflection of you and what you love.
    </p>
    <div id="shop-now-div">
      <h3>SHOP NOW</h3>
      <img src="/assets/images/Combined-Shape.png" alt=""/>
    </div>
    <div id="small-box">
      <div id="left-arrow"></div>
      <div id="right-arrow"></div>
    </div>
  </div>
</section>
