#side{
    display: flex;
    height: 534px;
    width: 100vw;
}

#backg{
    background-image: url('/assets/images/desktop-image-hero-1.jpg');
    height: 534px;
    width: 57% !important;
    background-size: cover;
    background-position: center;
}

#inner-box{
    width: 400px;
    height: 261px;
    margin-top: 120px;
    margin-left: 100px;
}

#side-description{
    width: 43%;
    height: 534px;
    position: relative;
}

#small-box{
    display: flex;
    width: 160px;
    height: 80px;
    background-color: black;
    position: absolute;
    bottom: 0;
}

#small-box:hover{
    cursor: pointer;
    
}

#leftArrow, #rightArrow{
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    
}

#leftArrow img, #rightArrow img{
    height: 24px;
    width: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 0px;
    padding-top: 30px;
}

#rightArrow:hover, #leftArrow:hover{
    background-color: gray ;
}

#leftArrow {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.441);
}
 h1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
    font-family: 'LeagueSpartan-Bold';
    font-size: 48px;
    padding-top: 40px;
}

p{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
    font-family: 'LeagueSpartan-Light';
    line-height: 1.5rem;
}

h3{
    letter-spacing: 1rem;
    font-size: 15px;
    font-family: 'LeagueSpartan-Bold';
    margin-left: 65px;
    margin-top: 30px;
}

#shop-now-div{
    display: flex;
    width: fit-content;
}

#shop-now-div:hover{
    cursor: pointer;
    color: gray;
}

img{
    height: 12px;
    width: 40px;
    margin-top: 30px;
}

@media screen and (min-width: 1910px){
    #side{
        height: 60vh;
    }
    
    #backg{
        height: 60vh;
    }

    #side-description{
        height: 60vh;
    }
}


@media screen and (max-width:768px){
    #side{
        flex-direction: column;
        height: 702px;
        width: fit-content;
    }

    #backg{
        height: 360px;
        width: 100vw !important;
    }

    #side-description{
        flex-direction: column;
        height: 278px;
        width: 100vw;
        position: relative;
    }

    #side-description h1{
        font-size: 38px;
        height: 74px;
        width: fit-content;
        text-align: start;
        padding-left: 30px;
        padding-right:28px ;
        padding-top: 15px;
        position: relative;
    }

    #side-description p{
        height: 132px;
        width: fit-content;
        padding-right: 30px;
        padding-left: 28px;
        font-size: 16px;
    }

    #shop-now-div h3{
        width: fit-content;
        letter-spacing: 6px;
        margin-left: 0px;
        padding-left: 30px;
    }

    #small-box{
        margin-bottom: 279px;
        height: 56px;
        width: 112px;
        right: 0 !important;
        position: absolute;
        
    }

    #leftArrow, #rightArrow{
        height: 56px;
        width: 56px;
        display: flex;
        justify-content: center;
    }

    #leftArrow img, #rightArrow img{
        height: 16.8px;
        width: 8.4px;
        margin-top: -10px;
    }

    #dark-img{
        width: 378px !important;
    }
}




