 
    <div id="footer-div">
    <div id="body-div">
    <div id="backg">
        <div id="room">
            <h1 id="h1">room</h1>
        
        
            <nav>
                <button>home</button>
                <button>shop</button>
                <button>about</button>
                <button>contact</button>
            </nav>
        </div>
    </div>

    <section id="side">
        <div>
        <h1>Discover innovative way to decorate</h1>
        <p>We provide unmatched quality, comfort, and style for property owners across the country.
             Our experts combine form and function in bringing your vision to life. Create a room 
             in your own style with our collection and make your property 
             a reflection of you and what you love.</p>
        </div>
        <div id="small-box">
            <div id="left-arrow"></div>
            <div id="right-arrow"></div>

        </div>
    </section>
    </div>
    <footer>
        <div id="foot-1mg"></div>
        <div id="foot-between"><h3>About our furniture</h3>
            <p id="texts">
                Our multifunctional collection blends design and function to suit 
                your individual taste. Make each room unique, or pick a cohesive theme 
                that best express your interests and what 
                inspires you. Find the furniture pieces you need, from traditional 
                to contemporary styles 
                or anything in between. Product specialists are available to help 
                you create your dream space. 
            </p>
        </div>
        <div id="foot-last"></div>
    </footer>
    </div>